<h1>Products list</h1>
<div class="row">
  <div *ngFor="let product of productList; index as productId" class="col-md-4 py-3">
    <div class="card py-1" style="width: 20rem; height: 34rem;">
      <img src="assets/img/{{ product.image }}" class="card-img-top" alt="{{ product.productName}}">
      <div class="card-body">
        <h5 class="card-title" [title]="'Mode details about ' + product.productName">
          {{ product.productName}}
        </h5>
        <p *ngIf="product.description" class="card-text">
          <span class="font-weight-bold">Description: </span> {{ product.description | slice:0:50 }} [...]
        </p>
        <a [routerLink]="['/store/product-details/', productId]" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
